/* map & filter page */

.mainMapAndFilter {
  display: flex;
  height: 100vh;
}

/* map */

.navStyle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.geolocateStyle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

/* filter nav page */

.hide {
  display: none;
}

.sideNavigation {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.entireFilterSection {
  margin-top: 90px;
}

.filterBlock {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterHeader {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.filterNavCardCluster {
  overflow-y: scroll;
  padding: 20px;
}
