.navStyle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.geolocateStyle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.filterBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterHeader {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.entireFilterNav {
  left: 0;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.filterNavCardCluster{
  flex: 5;
  overflow-x: scroll;
  margin-top: 20px;
}

.sideCardStyling{
  display: flex;
  justify-content: center;
}
