/* top nav bar */

/* map & filter page */

.mainMapAndFilter {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* map */

.navStyle {
  margin: 5px;
}

.geolocateStyle {
  margin: 5px;
}

.mapStyle {
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

.navigationIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 13px;
}

/* filter nav page */

.hide {
  display: none;
}

.sideNavigation {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.entireFilterSection {
  margin-top: 90px;
}

.filterBlock {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterHeader {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.filterNavCardCluster {
  overflow-y: scroll;
  padding: 0px 20px 0px;
}

/* contact page */

.contactPageGeneral {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contactPageHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-image: url('../../assets/manhattan_bridge.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
